[2014-07-28 21:04] kcochibili opened #1 "Specify that the project depends on Iconify library"
You should provide a link in the Readme that would point developers to the Iconify Library first if they don't have it.
https://github.com/JoanZapata/android-iconify

[2014-07-29 18:52] #1 closed, assigned to nobody

[2014-07-30 05:30] mikepenz opened #2 "Set icon as drawable"
Right now it's only possible to set the action drawable via Android-Iconify it should be possible to set an image ressource too

[2014-08-21 10:47] patelakshay13890 opened #3 "SherlockActionBar Problem"
Can't we use it with SherlockActionbar..
Any Solution..??

[2014-08-22 16:41] #3 closed, assigned to nobody

[2014-08-22 17:00] #2 closed, assigned to nobody

[2014-09-11 03:35] sunddytwo opened #4 "minSdkVersion 14 it too low."
how can i use it in minSdkVersion of 8?

[2014-09-21 11:38] #4 closed, assigned to nobody

[2014-10-27 14:56] mikepenz opened #5 "Check Android Lollipop Compatiblity"
Check for compatibility with the new Toolbar
Check for a multi-solution for all different kinds of ActionBar -> ActionBar, Toolbar, ...

[2014-11-16 16:46] #5 closed, assigned to mikepenz

[2014-11-26 05:08] deinlandel opened #7 "Long press on action icon does not show tooltip with action name"
For "regular" action bar buttons, when I long press the button , a tooltip with action title (android:title from item in menu xml) is shown.

But for action bar buttons with badge (when android:actionLayout="@layout/menu_badge" is used), this behavior is broken - no tooltip is shown on long press.

[2014-12-26 10:08] stonyz opened #8 "Can't find class file for com.mikpenz.iconics.typeface.IIcon not found"
I used the latest Android studio to try it, but get the following error,

added 2 dependencies

Error:(48, 28) error: cannot access IIcon
class file for com.mikpenz.iconics.typeface.IIcon not found

[2014-12-26 15:54] #8 closed, assigned to mikepenz

[2015-01-09 23:56] somghosh opened #9 "Is there a way to simply show the un-badged icon?"
It seems from readme, and when I tried out that I can just update to a given badge or hide the icon in menu completely - is there a way to show the normal icon without a badge?

thanks

[2015-01-10 14:38] mikepenz commented on #9
@somghosh you can simply pass -1 as badge value. This will hide the badge.

If you don't need the badge functionality you can use this library: https://github.com/mikepenz/Android-Iconics and set the drawable for an actionItem. (This is used internally by ActionItemBadge)

[2015-01-12 10:29] patelakshay13890 commented on #3
public boolean onOptionsItemSelected(MenuItem item) {}
is not called with ABS ActionBar ....
How to achieve this ?

[2015-01-13 11:06] somghosh opened #10 "How to control the padding of the icons generated?"
I am using the library as in the following code, and want to control the spacing between icons in actionbar. Is there a way? Thanks

    public boolean onCreateOptionsMenu(Menu menu) {
        // Inflate the menu; this adds items to the action bar if it is present.
        Log.d("LIFECYCLE", "OnCreateOptionsMenu() in MainActivity_");
        getMenuInflater().inflate(R.menu.menu_main_actionbar, me

[2015-01-13 14:34] mikepenz commented on #10
@somghosh the spacing between the icons is android default. As far as i know it's not possible to change this within a style. (not sure, perhaps you google for it or search @stackoverflow)

a different approach to get this is to create a custom view within the actionbar. you can find infos about this on the web, probably you can also get an idea how to do it by reading the sourcecode of https://gi

[2015-01-13 14:34] #10 closed

[2015-01-14 09:47] verbeeckjan opened #11 "Doesn't work with support library"
I'm using the android.support.v7 library, this means that when I do 'menu.findItem(R.id.item_samplebadge)', I get an object with the  'android.support.v7.internal.view.menu.MenuItemImpl' class. This class doesn't support getActionView() method. This means the library throws the following error:

[code]

[2015-01-14 10:15] mikepenz commented on #11
The sample also uses the support v7 actionbar:

https://github.com/mikepenz/Android-ActionItemBadge/blob/master/app/src/main/java/com/mikepenz/actionitembadge/sample/MainActivity.java

and the menu.xml used in the sample:

https://github.com/mikepenz/Android-ActionItemBadge/blob/master/app/src/main/res/menu/main.xml

[2015-01-14 10:52] verbeeckjan commented on #11
I found the problem! I used android:actionLayout="@layout/menu_badge" in the xml. This should yourapp:actionLayout="@layout/menu_badge". It's right in the example but you might want to adjust it in the documentation. Thanks for the quick reply!

[2015-01-14 10:55] mikepenz commented on #11
@verbeeckjan docu fixed. thanks.

[2015-01-14 10:55] #11 closed

[2015-01-27 02:09] athkalia opened #12 "Library not working with Maven - proposed solution"
Hello,

seems like your pom.xml is missing something to make this library work with maven-android-plugin

specifically, you should change your dependency inside your pom.xml to be:

     <dependency>
          <groupId>com.mikepenz.iconics</groupId>
          <artifactId>library</artifactId>
          <type>aar</type>
          <version>0.7.0</version>
          <scope>compile</scope>
        </de

[2015-01-27 17:00] mikepenz commented on #12
@athkalia this library does not contain a pom.xml. It's just tested as gradle dependency with Android Studio.

You probably created it by yourself?

[2015-01-27 17:01] mikepenz commented on #9
@somghosh is this still a problem? i will close this issue now, you can still reopen it if you answer here and there are still some issues.

[2015-01-27 17:01] #9 closed

[2015-01-27 19:00] athkalia commented on #12
I have never used gradle so I can't help you all that much, (unless you are no expert either, in that case I'll just spend a day and figure it out). Basically it goes like this:

In order to publish your library in maven central you need a pom.xml
This has been generated automatically for you by a maven-gradle plugin that you have in your files (search your repository for the word "maven").
Unfort

[2015-01-27 19:04] mikepenz commented on #12
@athkalia i use gradle in all my projects and it got default to add the **@aar** at the end of all my dependency. never thought of it as an extra step because some libraries are published wrong.

but with your description i know what you try to say with this issue.

I will see if i can somewhere specify this in my maven release plugin. would be strange if i couldn't. thanks for your input ;)

I'll

[2015-01-27 19:33] athkalia commented on #12
Thanks a lot, please do keep me posted : )

[2015-01-27 20:58] mikepenz commented on #12
@athkalia seems this isn't as trivial as it should be.

the official maven plugin for gradle doesn't allow to set the type.
i set the packaging as .aar but this is not the solution (because i did it since the first release @ maven central)

[2015-02-09 05:16] willowcheng opened #13 "Cannot add badge for style with layout"
I meet the drawable parameter problem with this line:
[code]

Then I replace `Iconify.IconValue.fa_android` with `new IconDrawable(this, Iconify.IconValue.fa_android)`.

However, I still face the problem and console shows that:

 java.lang.NullPointerException for `update` method in `onCreateOptionsMenu`

[2015-02-09 07:02] mikepenz commented on #13
@willowcheng what's the version you use?
I think i have to update the README. the newest version uses the Iconics library. Please see the sample for more details.

[2015-02-09 11:53] nishant-lb opened #14 "You are not allowed to call update without an icon on a Badge with default style"
Please explain this.

[2015-02-09 19:26] mikepenz commented on #14
@nishant-lb v2.1.0 has a changed behavior the update without style will now default to no style. just set it if you have a specific need.

[2015-02-09 19:26] #14 closed

[2015-02-16 11:15] finberg opened #16 "ActionItemBadge working with Toolbar?"
Hello!
ActionItemBadge working with Toolbar?

[2015-02-16 21:51] #13 closed

[2015-02-16 21:52] #12 closed

[2015-02-16 22:17] mikepenz commented on #16
@finberg just use it as you would with an actionbar. There is no difference at all.

[2015-02-16 22:17] #16 closed

[2015-02-17 05:40] finberg commented on #16
Thanks you!

[2015-03-04 07:36] patelakshay13890 opened #17 "Animation"
How can use Animation like Rotating or Flip with ActionItem Menu on Updating the MenuItem such as Count ??

[2015-03-04 07:44] mikepenz commented on #17
@patelakshay13890 this is not possible with the current function. If you want to have this, you can always send a pull request.

[2015-03-04 07:44] #17 closed

[2015-06-10 06:27] Aviswanathan opened #19 "getting null pointer exception"
in my menu xml i placed this..
[code]
and in my create options menu i used this
[code]
what i done wrong if i create menu item programatically works great.if the count is zero need to hide the item badge.is there any possible.

[2015-06-19 19:38] mikepenz commented on #19
@Aviswanathan can you also post the stackTrace?

[2015-06-28 20:27] dzdeni opened #20 "Coloring is not working"
On Android 5.1 and using ActionItemBadge.BadgeStyle.GREY_LARGE (or any other _LARGE) for styling the color of the menu item can not be changed. I'm using Toolbar with AppCompat v22.

Not working:
[code]

Working:
[code]

[2015-06-28 20:29] mikepenz commented on #20
@dzdeni the large style is working a bit different. the sample shows how. you can't switch between small and large style.

[2015-06-28 21:42] dzdeni commented on #20
Oh, right, I get it now, thank you.

[2015-06-28 21:42] #20 closed

[2015-07-01 18:16] shakmak commented on #19
java.lang.NullPointerException
            at com.mikepenz.actionitembadge.library.ActionItemBadge.setBackground(ActionItemBadge.java:266)
            at com.mikepenz.actionitembadge.library.ActionItemBadge.update(ActionItemBadge.java:203)
            at com.mikepenz.actionitembadge.library.ActionItemBadge.update(ActionItemBadge.java:192)
            at com.twigly.app.ui.activity.CheckOutActivity.

[2015-07-01 18:19] mikepenz commented on #19
@shakmak you mix up normal style and large style?

[2015-07-16 16:44] anticafe opened #21 "Badge in hamburger icon"
I see in some Chinese app, they often add a "red dot" into tab or hamburger icon. For example in [this article](http://dangrover.com/blog/2014/12/01/chinese-mobile-app-ui-trends.html). In below image, there is a similar "red dot" but not in hamburger.

![image](https://cloud.githubusercontent.com/assets/340836/8729250/4ba17a30-2c14-11e5-93f8-4e46f0897bfd.png)

So, is it possible to add such "red d

[2015-07-16 16:45] mikepenz commented on #21
@anticafe no this is not possible. this library is only meant to add this badge to ActionItems

[2015-07-16 16:45] #21 closed

[2015-07-24 13:10] aacanakin commented on #9
Hello,
I passed the badgeCount as -1 but it doesn't seem to work;
[code]

[2015-07-24 13:12] mikepenz commented on #9
@aacanakin this answer is from a previous version. with the latest version you can hide a badge like this:

[code]

[2015-07-24 13:15] aacanakin commented on #9
The code you just sent hides the menu. I don't want to hide the menu. I want to hide the badge

[2015-07-24 13:23] mikepenz commented on #9
Oops sorry. i mixed things up. Hiding a Badge is now possible via Integer.MIN_VALUE

https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/app/src/main/java/com/mikepenz/actionitembadge/sample/ToolbarActivity.java#L105

[2015-07-24 13:28] aacanakin commented on #9
OK. It's working. Thanks!

[2015-08-01 18:28] mikepenz commented on #19
Should be fixed in the latest version

[2015-08-01 18:28] #19 closed

[2015-08-01 18:28] mikepenz commented on #7
Doesn't seem to be possible

[2015-08-01 18:28] #7 closed

[2015-08-02 23:15] cliffgr opened #24 "Update Badge Value Dynamically"
I want update my badge when my async finish succesfuly.

[2015-08-03 05:36] mikepenz commented on #24
Everything shown in the sample. Just call `invalidateOptionsMenu()` in order to refresh the items (also the badge)

https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/app/src/main/java/com/mikepenz/actionitembadge/sample/ToolbarActivity.java#L109

[2015-08-03 05:36] #24 closed

[2015-08-10 18:42] alorma opened #25 "Long click on badge item not shows title"

[2015-08-10 20:26] #25 closed

[2015-09-05 14:45] JimRoid opened #27 "com.mikepenz:actionitembadge:3.1.1 null pointer"
[code]

[code]

[2015-09-05 15:16] JimRoid commented on #27
sorry i have same name  menu_badge in my layout ..
i solve this question

[2015-09-05 20:23] #27 closed

[2015-09-06 11:42] medyo opened #28 "Custom Badge Style"
Hi Mike,

I'd like to know if the library provides any methods to define a custom BadgeStyle at least changing colors (without cloning project and adding them manually)

Thanks

[2015-09-06 17:05] mikepenz commented on #28
yes this is possible.

[2015-09-06 17:06] #28 closed

[2015-09-09 14:23] confile opened #29 "How do I set a custom color for the badge?"
How do I set a custom color for the badge?

[2015-09-09 14:32] confile opened #30 "How can I change the position of the badge?"
How can I change the position of the badge?

[2015-09-09 16:23] mikepenz commented on #29
@confile look at the sample application. it shows how you can use the `BadgeStyle`

https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/app/src/main/java/com/mikepenz/actionitembadge/sample/ToolbarActivity.java

[2015-09-09 16:23] #29 closed

[2015-09-09 16:25] mikepenz commented on #30
@confile can you be a bit more specific?

You can provide a custom layout for a custom `BadgeStyle` https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/library/src/main/java/com/mikepenz/actionitembadge/library/utils/BadgeStyle.java#L85

This layout should be similar to this one: https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/library/src/main/res/layout/menu_badge.xm

[2015-09-09 16:25] #30 closed

[2015-09-09 18:05] confile commented on #29
Thanks

[2015-09-09 18:05] confile commented on #30
Thanks

[2015-09-16 11:01] confile commented on #30
Works great!

[2015-09-17 12:02] anangpmb opened #31 "on Fragment"
I have a trouble use this library on Fragment...
onClick item not work on Fragment

[2015-09-17 17:16] mikepenz commented on #31
@anangpmb can you be a bit more specific? you can only handle the menu via the activity. you can pass over the infos to the fragment. but in general everything happens in the activity

[2015-09-18 14:00] anangpmb commented on #31
I have chart icon on actionbar and I have to use badge on every activity, but I have fragment too that it has to use badge and cart icon too.. can I handle on mainActivity but show on every fragment?

[2015-09-18 14:02] mikepenz commented on #31
yes you can. be careful and don't mix up fragments and activities and what they contain. i am sure you will find how to do this on stackOverFlow or google. nothing specific to this lib

[2015-09-18 14:02] #31 closed

[2015-09-18 15:36] anangpmb opened #32 "update badge"
how to update badge on setOnClickListener not in MenuItem

[2015-09-18 15:40] mikepenz commented on #32
please see the sample app how you can update the MenuItem

https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/app/src/main/java/com/mikepenz/actionitembadge/sample/ToolbarActivity.java

[2015-09-18 15:40] #32 closed

[2015-10-12 12:56] pardypanda opened #33 "Change color in ActionItemBadge.BadgeStyles"
[code]
returns color #FFBB33 of badge. Is there anyway that i can change this color to #FFFF66 ???

[2015-10-12 13:33] mikepenz commented on #33
You can define a custom `BadgeStyle`
[code]

[2015-10-12 13:33] #33 closed

[2015-10-15 11:16] lupajz opened #34 "badge with hamburger icon"
Can I put this badge on hamburger icon ?

[2015-10-15 11:30] mikepenz commented on #34
@lupajz sorry that's not possible

[2015-10-15 11:30] #34 closed

[2015-10-29 15:52] bryant1410 opened #35 "Fontawesome library is also needed"
This is needed:

[code]

Maybe add it in README, or add this dependency.

[2015-10-29 17:40] mikepenz commented on #35
@bryant1410 this is only required in the sample. You can use all icon fonts addon available for the Android-Iconcis project

[2015-10-29 17:56] #35 closed

[2015-11-16 15:08] WonderCsabo commented on #31
I also have this problem. The menu is created by the Fragment and the item selection events are handled by the Fragment. The Activity actually has nothing to do with this.

Now my Activity is getting the callback instead of the Fragment. What about providing an override which accepts Fragment instead of Activity?

[2015-11-16 15:10] mikepenz commented on #31
@WonderCsabo probably you open a new issue for this

[2015-11-16 15:20] WonderCsabo opened #36 "onOptionsItemSelected not called on Fragment"
The library binds the onclick event to `Activity.onOptionsItemSelected`. This results in only the `Activity` `onOptionsItemSelected` is called, the `Fragment`s are not.

This event should be dispatched to the `Activity.onMenuItemSelected` method which properly calls `onOptionsItemSelected` on both the `Activity` and its `Fragment`s.

[2015-11-16 15:21] WonderCsabo commented on #31
See #36.

[2015-11-16 19:05] mikepenz commented on #36
for you there is now an `OnOptionsItemSelected` listener you can provide with the `update` method.

[2015-11-16 19:05] #36 closed

[2015-11-17 12:11] WonderCsabo commented on #36
@mikepenz thanks!

However i think my proposed solution would be better (calling `Activity.onMenuItemSelected`). This way we would not have to create the redundant listener. And the selected item would have been dispatched the same way as normal action items. What do you think about it?

[2015-11-17 14:29] mikepenz commented on #36
@WonderCsabo as the `interface` has the same method signature as the method in the `Activity` or the `Fragment` you should be able that your `Activity` or `Fragment` implements that interface and then you pass it with `this` so it uses the same method.

Also i added the separate method so it is more flexible than providing another method with a fragment too, as the `Activity` is required for showi

[2015-11-17 14:30] WonderCsabo commented on #36
I still not understand why you do not have to want to use my suggestion. :S

[2015-11-17 14:32] mikepenz commented on #36
@WonderCsabo i already call `Activity.onOptionsItemSelected()` which is the default method for those events as far as i know.

https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/library/src/main/java/com/mikepenz/actionitembadge/library/ActionItemBadge.java#L195

[2015-11-17 14:44] WonderCsabo commented on #36
@mikepenz i know! i asked you to actually replace that call with a call to `onMenuItemSelected`. That method correctly dispatches the event to the `Activity` and the `Fragment`s. `onOptionsItemSelected` trivially only the `Activity`. Check out this excerpt from `onMenuItemSelected`:
[code]

But i can open a PR as well.

[2015-11-17 23:01] mikepenz commented on #36
@WonderCsabo oh sorry i totally overread this difference. didn't know that there's a difference. i will probably just modify it to this method. and keep the possibility of the listener. thanks for your time and for pointing that out

[2015-11-17 23:07] mikepenz commented on #36
@WonderCsabo one thing which you probably should make sure before i add this change:
http://stackoverflow.com/a/18133494/325479 Just to make sure that you also call the super methods in your activity (which will then forward it to the fragment)

The first few result from the mentioned method `onMenuItemSelected` just define that this is the more generic method, used for context menus and option me

[2015-11-18 10:27] WonderCsabo commented on #36
Actually i do not even override `onCreateOptionsMenu` and `onOptionsItemSelected` in my `Activity`, only in the `Fragment`, so this is not the problem.

Yeah, `onMenuItemSelected` is a more generic method, that is why you have to pass `Window.FEATURE_OPTIONS_PANEL` as the first parameter so it can know that an options menu event occurred. But this method is called when an item is clicked in the op

[2015-11-20 15:49] mikepenz commented on #36
@WonderCsabo i now use your suggestion in v3.1.9

[2015-11-20 15:57] WonderCsabo commented on #36
Great, thanks very much!

[2015-11-24 10:54] WonderCsabo commented on #36
Finally i could test this, works as intended. :)

[2015-12-02 09:53] qzaqza1818 commented on #16
Hi ! Sorry but I am not seeing any sample with a toolbar activity but only action bar. Am I missing something?

[2015-12-02 09:58] qzaqza1818 commented on #16
Silly me, I had found the sample with toolbar activity.

[2015-12-03 02:46] qzaqza1818 opened #37 "Issue regarding to tablayout"
I have saw samples that work with actionbar and toolbar, but what about the tablayout ?
Besides, I used viewpager to add fragment.
![capture2](https://cloud.githubusercontent.com/assets/15046075/11550456/0c3f6e38-99ab-11e5-9003-e5a5c6cdad25.PNG)

[2015-12-03 07:56] mikepenz commented on #37
@qzaqza1818 so what's your question?

[2015-12-03 08:57] qzaqza1818 commented on #37
My question is after I set custom view for a tab(Friend), what should I do next?
Because for this library https://github.com/jgilfelt/android-viewbadger, I can call
[code]
but I don't know how to do the same with your library. Sorry for poor grammar.
![capture3](https://cloud.githubusercontent.com/assets/15046075/11555820/e727b6a4-99dd-11e5-9d3a-07d7ce207fcf.PNG)

[2015-12-03 10:05] mikepenz commented on #37
@qzaqza1818 this library can only be used to add badges in `MenuItem`s of a `Toolbar` or `Actvitiy`.

[2015-12-03 10:05] #37 closed

[2015-12-03 10:11] qzaqza1818 commented on #37
oh I see thank you.

[2016-01-12 07:59] vatsrahul62 opened #38 "Error in syncing"
My Gradle File looks like:
[code]

After syncing grade I am getting this error
Failed to resolve: com.mikepenz:actionitembadge:3.2.1

[2016-01-12 08:53] mikepenz commented on #38
@vatsrahul62 sorry that was my issue. missed to release the update on maven central. did it a few moments ago. should be available within the next 30 minutes.

[2016-01-12 08:53] #38 closed

[2016-01-19 07:15] patelakshay13890 opened #39 "Ambiguous Method Call"
![error](https://cloud.githubusercontent.com/assets/6092323/12412123/5f120c46-beaa-11e5-905a-2df57e3b7cb7.png)

I want to use only BadgeLarge in Toolbar & want to update it's BadgeCount dynamically in my Activity

[2016-01-19 07:19] mikepenz commented on #39
@patelakshay13890 the problem is that you pass `null` as the third param. So java does not know which type this is. `null` is neither an `IIcon` nor a `Drawable`. Replace `null` with `(Drawable) null` or `(IIcon) null`

[2016-01-19 07:19] #39 closed

[2016-02-17 14:55] Mathbl opened #40 "Make it round"
Would it be possible to make the badge a perfect circle when there's only one number? Thanks.

[2016-02-18 06:54] mikepenz commented on #40
@Mathbl you can define a corner on the `BadgeStyle` you can provide. If the corner is half of the full width the badge will be a circle

[2016-02-18 19:49] Mathbl commented on #40
Yes, I created my own menu_badge layout and put a minWidth. That way, setting the corner value did the trick.

Thanks and good job on the library.

[2016-02-18 19:49] #40 closed

[2016-02-19 05:36] pritam-kadam opened #41 "menu icon not showning"
In menu.xml i have set an icon to the menu item. But it doesn't show what i have set. It shows something else.

[2016-02-19 07:28] mikepenz commented on #41
@pritam-kadam can you please show your menu.xml? Which icon? And what does it show? May also add a screenshot

[2016-02-19 07:44] pritam-kadam commented on #41
This is how i added it into menu.xml

`<item
        android:id="@+id/actionNotification"
        android:icon="@drawable/ic_action_notification"
        app:actionLayout="@layout/menu_badge"
        app:showAsAction="always"
        android:title="Notification"/>`

I am using an action bar icon (i.e. ic_action_notification) that i generated using android image assets.

This is how i am using it i

[2016-02-19 07:48] mikepenz commented on #41
Do you have a `assets/fonts` folder in your project? Seems like the font *.ttf file can't be resolved. Do you see some log output?

[2016-02-19 08:06] pritam-kadam commented on #41
@mikepenz even that doesn't seem to make it work.

[2016-02-19 08:07] mikepenz commented on #41
@pritam-kadam no that was a question. Some people have an `assets/Fonts` folder with an upper case letter and then it can't resolve the assets.

Do you have any log output?

[2016-02-19 08:09] pritam-kadam commented on #41
@mikepenz no I didn't see anything in logcat related to badge.

[2016-02-19 08:14] mikepenz commented on #41
@pritam-kadam you should see something regarding font. or typeface or similar.

Do you use proguard here?
And you are sure you do not have a folder named `assets/fonts/` or so?

[2016-02-19 09:19] pritam-kadam commented on #41
@mikepenz in logcat i am seeing nothing. Using proguard only for release apk. and i have folder named assets/font and fontello.ttf & materialdrawerfont.ttf in it.

[2016-02-19 09:47] mikepenz commented on #41
@pritam-kadam may you can send me a sample showcasing the issue and I can debug it?

[2016-02-29 05:18] onuryurtturk opened #42 "LayerDrawable Cast Problem?"
Im getting cast exception like this "java.lang.ClassCastException: android.graphics.drawable.LayerDrawable cannot be cast to android.graphics.drawable.GradientDrawable" any solution for that? Im using appcompat actionbar

[2016-02-29 05:48] onuryurtturk commented on #42
okay, i solved problem, same res reference caused this exception.

[2016-02-29 05:48] #42 closed

[2016-02-29 17:37] #41 closed

[2016-03-17 15:37] localhostEU opened #43 "ClassCastException"
Version 3.2.3, Android 6 (Genymotion)

[code]

[2016-03-17 16:32] mikepenz commented on #43
@localhostEU thanks. Will have to check this. Really weird that they just changed the class...

https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/library/src/main/res/drawable/badge.xml

You have not overwritten this right?

[2016-03-17 18:33] #43 closed

[2016-03-17 18:33] mikepenz commented on #43
i renamed the resources in the latest version. perhaps this fixes your issue

[2016-03-18 07:43] localhostEU commented on #43
It works :+1:

[2016-03-18 07:51] mikepenz commented on #43
@localhostEU ok seems some other library you used conflicted with the `badge.xml`

[2016-03-31 07:56] squeeish opened #44 "No resource found for app:actionLayout="@layout/menu_badge""
I needed to change it to the following for it to work:

`app:actionLayout="@layout/menu_action_item_badge"`

[2016-03-31 17:07] mikepenz commented on #44
@squeeish oh you are totally right, forgot to add this to the release notes, and to update the README. Thank you so much

[2016-03-31 17:09] #44 closed

[2016-06-19 06:32] RezaOruji opened #46 "change badge direction from right to left"
hi mike. thank you for your another great library.
is there any way to change the badge direction in the MenuItem from right to left ?
 i want to use it in a RTL application .

[2016-06-19 07:26] mikepenz commented on #46
@RezaOruji you want the badge on the left side?

Not out of the box, but if you provide an RTL version of the following layout in your application it should be used autommatically:
https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/library/src/main/res/layout/menu_action_item_badge.xml
(copy it to your project into the RTL folder and change it to look correctly)

[2016-06-19 12:38] mikepenz commented on #46
Is this solution working? Just asking so I can close this issue

[2016-06-22 06:07] AlexeyKorshun opened #47 "Same questions"
Good day. Thx for library.
I have 3 question.

Why I can't use this library without com.mikepenz:iconics?

Can you create BadgeStyle with circle?

Method 'hide' hide my item too. How can I hide only badge?

[2016-06-22 06:38] mikepenz commented on #47
@AlexeyKorshun because the library comes with built in easy support for the `Android-Iconics` library. (which is a huge advantage for many users. It only uses the `iconics-core` which is really slim though)

Yes you can as you can provide a `corner` so just set the corner radius to the half of the badge-size

You can have an if here: https://github.com/mikepenz/Android-ActionItemBadge/blob/develop

[2016-06-23 08:59] AlexeyKorshun commented on #47
Bih thx, but when I must provide `corner` ?

[2016-06-27 06:25] mikepenz commented on #47
@AlexeyKorshun https://github.com/mikepenz/Android-ActionItemBadge/blob/48d18dcd6b0f3e1a23a215c85aec5a5488aaef92/library/src/main/java/com/mikepenz/actionitembadge/library/utils/BadgeStyle.java#L80

You can just provide any `BadgeStyle` (predefined or initialized by you) to the update method

[2016-06-27 06:25] #47 closed

[2016-06-27 17:42] #46 closed

[2016-06-30 20:10] MaxCavalheiro opened #48 "how can I add a border on badge??"

[2016-07-01 06:23] mikepenz commented on #48
@MaxCavalheiro sorry this is not possible. And there are no plans to add it.

Here's the place where I create the `Drawable`
https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/library/src/main/java/com/mikepenz/actionitembadge/library/utils/BadgeDrawableBuilder.java#L37

[2016-07-03 17:20] #48 closed

[2016-07-19 11:53] AndreiD opened #49 "rounded corners example [example / documentation]"
Thank you for the nice library.
Can you put an example how to make it with round corners ? I've tried but didn't succeed :(

[2016-07-21 18:54] mikepenz commented on #49
@AndreiD nothing special about it. You just define the corner in pixel:
[code]
(using one of the provided styles as base)

Or you can also just create your own style
[code]

if you want a rounded badge just define the corner in pixel as the half of the height of the element
[code]

so 12 dp for a 24dp height badge.

[2016-07-21 18:54] #49 closed

[2016-08-01 08:07] amorenew opened #50 "getDrawable improve"
hi
you use this method **UIUtil.getCompatDrawable** to avoid deprecated method
you can simply use **ResourcesCompat.getDrawable(getResources(),R.drawable.logo,null)**
thanks

[2016-08-01 09:26] mikepenz commented on #50
@amorenew perhaps I will remove this method as the compat libs now have already all those great helper methods out of the box ;)

Thanks for pointing this out. You may also open a PR with doing this change if you want

[2016-08-01 09:26] #50 closed

[2016-08-06 18:55] tentypwtk opened #51 "Problem with buildToolsVersion 24.0.0"
ActionBar icon with "layout/menu_action_item_badge" added works fine with 23.0.3, but on 24.0.0 it doesn't show up at first (empty square). Only after adding a badge it draws correctly the item.

edit: Looks like I jumped to conclusions too quickly. Looks like it doesn't make any difference which version I use. I added ActionItemBadge.update at the end of onCreateOptionsMenu and seems to work. Wit

[2016-08-07 06:37] mikepenz commented on #51
That's correct you have to do something programatically too.

[2016-08-07 06:37] #51 closed

[2016-08-09 08:17] AndreiD commented on #49
Doesn't work if it's very small. I'm attaching a picture
No matter how I try to put the corner parameter, it still shows a rounded rectangle instead of a circle.

![capture](https://cloud.githubusercontent.com/assets/542665/17509480/c1e74f26-5e22-11e6-96de-1381129d8995.JPG)

[2016-08-09 08:21] mikepenz commented on #49
@AndreiD in this case it wouldn't work as the content is bigger than the possible radius can be.

[2016-08-09 08:45] AndreiD commented on #49
yes. this is the case.  however I don't know how to fix it :(. it's a menu item image.

[2016-08-09 09:22] mikepenz commented on #49
You could just use the layout I define in this lib and replace the flexible drawable I define with a real one. So you can do the same without using the lib

[2016-11-15 11:20] icoolguy1995 opened #52 "ActionItemBadge above tab indicator?"
Is it possible to use ActionItemBadge with android.support.design.widget.TabLayout?

[2016-11-15 16:40] mikepenz commented on #52
@icoolguy1995 no this is not possible. This library only works for Menu items.

Please check my `StackOverflow` answer here:
http://stackoverflow.com/a/40493102/325479

[2016-11-15 16:40] #52 closed

[2016-12-09 17:35] ZeeRooo opened #53 "ActionItemBadge on BottomNavigationView"
Is possible use this library on BottomNavigationView?
Thanks for the support.

[2016-12-09 17:48] mikepenz commented on #53
@ZeeRooo no sorry. This was not done for the `BottomNavigationView`

[2016-12-09 17:48] #53 closed

[2017-02-20 14:11] usergoodvery opened #57 "disappearing badge on toolbar"
Hi,
Firstly, thanks for sharing this useful lib.
I have a standard menu file where I am displaying two items set as app:showAsAction="always", one of which is actionitem badge and other is a textview.  The value of the badge is updated via (a sticky) async event (greenrobot). That works fine, except when I press the overflow menu   the badge disappears, but its place holder remains empty. The text

[2017-02-20 15:17] mikepenz commented on #57
@usergoodvery that sounds weird, can you reproduce this in the sample?

[2017-02-21 01:49] usergoodvery commented on #57
I think I traced down the issue and luckily it is unrelated to the library, so you are off the hook :)

BTW can this lib be used with non actionitems, an it work with icons placed elsewhere other than toolbar??

[2017-02-21 08:24] mikepenz commented on #57
Awesome :)

Sadly no. As it is written for the `Toolbar` and adjusts the layout for these items.

[2017-02-21 08:24] #57 closed

[2017-03-05 15:19] zulkarnainshah commented on #47
How to get **badge-size** ?

[2017-03-05 15:32] mikepenz commented on #47
@zulkarnainshah this layout is used, so it is not defined. it depends on the font size: https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/library/src/main/res/layout/menu_action_item_badge.xml#L16

[2017-03-05 15:35] zulkarnainshah commented on #47
So how exactly would i create a circular badge?

[2017-03-05 15:41] mikepenz commented on #47
@AlexeyKorshun you can overwrite this item, define a fixed dp height, and set a corner which is exactly half of the height

[2017-03-06 05:34] vinayaksrs opened #58 "Remove badge on Run time using fragment"
Hi,
Thanks for the awesome library.  How can I remove only badge on runtime but not hiding entire menu item in fragment.

Thanking you in advance for your time

[2017-03-07 08:21] praneethrahul commented on #58
Below code might help you.

ActionItemBadge.update(DashBoardActivity.this, menuThis.findItem(R.id.action_notifications), UIUtil.getCompatDrawable(MainActivity.this, R.mipmap.ic_action_notification_icon),
                    ActionItemBadge.BadgeStyles.TRANSPARENT, NumberUtils.formatNumber(badgeDrawableCount));

[2017-03-07 08:50] vinayaksrs commented on #58
ActionItemBadge.BadgeStyles.TRANSPARENT  and UIUtil.getCompatDrawable(MainActivity.this, R.mipmap.ic_action_notification_icon) are  not included in the latest libray

[2017-03-08 10:04] mikepenz commented on #58
@vinayaksrs if I correctly remember, this is shown in the sample app

[2017-03-08 12:34] vinayaksrs commented on #58
Nope. I checked the whole library. But i couldn't find  ActionItemBadge.BadgeStyles.TRANSPARENT and UIUtil.getCompatDrawable(MainActivity.this, R.mipmap.ic_action_notification_icon).    So I am using  ActionItemBadge.hide() for now.

UIUtil.getCompatDrawable(MainActivity.this, R.mipmap.ic_action_notification_icon) this functionality removed from latest version 3.3.1

[2017-03-08 14:28] mikepenz commented on #58
Hiding the badge is shown here: https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/app/src/main/java/com/mikepenz/actionitembadge/sample/MainActivity.java#L51

[2017-03-09 04:04] vinayaksrs commented on #58
@mikepenz  ActionItemBadge.hide(), this method removes the icon from menu. I don't want to remove icon. I just  want to remove badge only.

This is my scenario, I am showing notification icon in the toolbar menu with unread notification count as badge. When unread notification count become 0, I want to remove the badge but not the menu icon.

[2017-03-13 12:29] mikepenz commented on #58
@vinayaksrs set the `BadgeCount` to `null` and the badge will hide

[2017-03-13 12:29] #58 closed

[2017-03-13 12:35] vinayaksrs commented on #58
It worked.. Thank You

[2017-04-07 14:39] technoplusplus commented on #47
I'm new to your library .. i need to know how to change the size of badge ! the budge is located on toolbar action menu item

[2017-05-14 09:18] blank15 opened #59 "Set itemBadge on Bottom navbar"
How i can Set itemBadge on Bottom navbar??

[2017-05-14 15:22] mikepenz commented on #59
@blank15 sorry. This library is only meant for the `Toolbar` or `Actionbar`

For a `TabLayout` this would work: http://stackoverflow.com/a/40493102/325479

[2017-05-14 15:22] #59 closed

[2017-06-16 10:00] trinhvanminh2009 opened #60 "How i can make ActionItemBadge.BadgeStyles smaller."
I so love this library . But how I can make ActionItemBadge.BadgeStyles smaller. I have 2 options, 1 is normal, 1 is large. I want another option is small ? How can I do that ?
Thanks

[2017-06-17 14:36] mikepenz commented on #60
@trinhvanminh2009 well the lib only comes with those 2 styles.
If you want a completely other style you have to do it manually. Define your own layout: https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/library/src/main/res/layout/menu_action_item_badge.xml (like this)
And then define your own style:
https://github.com/mikepenz/Android-ActionItemBadge/blob/321b45a65c258e8e1e9346f16d0

[2017-06-18 00:08] trinhvanminh2009 commented on #60
Thank you. I know what I have to do.

[2017-06-18 10:49] #60 closed

[2017-08-07 20:16] frankodoom opened #61 "Appbar Icon Disappears After Update"
Hello my Appbar Icon Disappears after i update it!

[code]

[2017-08-08 15:09] mikepenz commented on #61
@frankodoom you are sure it's running into `update` and not `hide`?

[2017-08-09 23:24] frankodoom commented on #61
@mikepenz  it runs the update not hide, in your XML what are you referencing as `actionLayout, is it an ImageView ?`

[2017-08-10 11:56] frankodoom commented on #61
i run into update i see the badger alright but my Menu Item becomes hidden, looking at the Xml in your documentation what becomes :actionLayout ?

[2017-08-15 04:39] mikepenz commented on #61
well the actionLayout is something the android framework provides to allow modifying the xml used to display in the toolbar

[2017-08-20 00:36] mikepenz commented on #61
@frankodoom I see no reason why this happens. please refer to the sample app. if this does not help. please re-open and provide a open-able sample application which allows me to re-produce this

[2017-08-20 00:36] #61 closed

[2017-09-15 15:18] Jinqianv opened #62 "I would like to show the badge number on android.support.design.widget.BottomNavigationView"
BottomNavigationView bottomNavigationView = (BottomNavigationView) findViewById(R.id.bottom_navigation);
        bottomNavigationView.setSelectedItemId(R.id.connect);
        //bottomNavigationView.setItemIconTintList(null);
        BottomNavigationViewHelper.disableShiftMode(bottomNavigationView);

        int badgeCount = 5;
        Menu menu = bottomNavigationView.getMenu();
        MenuItem me

[2017-09-15 20:06] mikepenz commented on #62
@Jinqianv this library only supports Toolbar's and ActionBar'S

[2017-09-20 16:35] dev12-SC opened #63 "How to make the icon not increase in size,"
How to make the icon not increase in size,
the two examples have the ic_notifications_white_36dp icon, but when I use ActionItemBadge, update (.., .., getDrawable (R.mipmap.ic_notifications_white_36dp), ActionItemBadge.BadgeStyles.RED, 1) the icon gets bigger.
  Is there any way to make the icon using update () get the original size?
![screenshot_1505924668](https://user-images.githubusercontent.c

[2017-09-28 17:24] mikepenz commented on #63
You will have to adjust this layout and change the sizings.
https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/library/src/main/res/layout/menu_action_item_badge.xml
(probably the ImageView should not use the default scaleType)

[2017-09-28 17:24] #63 closed

[2017-09-28 17:24] #62 closed

[2017-09-29 11:40] dev12-SC commented on #63
@mikepenz Tanks

[2017-12-10 10:15] abumoallim opened #64 "Inflate Menu from Toolbar"
While Inflating menu from toolbar

toolbar.inflateMenu(R.menu.menu_main);
ActionItemBadge.update(context,cart,context.getResources().getDrawable(R.drawable.ic_shopping_cart), ActionItemBadge.BadgeStyles.DARK_GREY,2);}

toolbar's OnMenuItemClick is not at all called.

Can you help me with the problem?

[2017-12-10 10:47] #64 closed

[2018-01-06 07:31] AdityaAnand1 opened #65 "Proguard breaking builds"
[code]

Perhaps optimal rules can be bundled in the library itself?

[2018-01-06 11:55] mikepenz commented on #65
@AdityaAnand1 as far as I can tell it should not be a problem that the `IconicsDrawable` is obfuscated.

Do you have https://github.com/mikepenz/Android-Iconics in your project?
Do you use it? if not you might just add `-dontwarn com.mikepenz.iconics.*`

[2018-01-07 17:49] AdityaAnand1 commented on #65
Yeah, I figured as much. Still, adding that rule to the library's consumerProguardFile (or whatever it's called) would mean all of us don't have to 😄

[2018-01-13 18:22] mikepenz commented on #65
A general `warn` would be not good :)

Great that it works

[2018-01-13 18:22] #65 closed

[2018-02-21 13:28] fernando-chileno commented on #7
This may help in meanwhile: https://gist.github.com/romannurik/3982005
Then you get the action view from the menu item

[2018-02-24 06:39] chnouman commented on #8
still getting same error

[2018-03-13 08:41] ChaosPower opened #66 "No way to remove badge."
Hi,

Currently there is no option to hide just the badge. If there is a work around this please inform me.

Thanks!

[2018-03-13 15:21] mikepenz commented on #66
Passing in `null` as `badge` content will remove the badge.

[2018-03-13 15:32] ChaosPower commented on #66
Thanks @mikepenz will try it out!

[2018-03-13 15:33] mikepenz commented on #66
https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/library/src/main/java/com/mikepenz/actionitembadge/library/ActionItemBadge.java#L229

[2018-03-13 15:33] #66 closed

[2018-03-13 15:58] ChaosPower commented on #66
Hi @mikepenz

I have set `badgeCount = null` however, the icon does not show.

![screenshot_1520956463](https://user-images.githubusercontent.com/260845/37353405-3d3be490-271a-11e8-9d66-e20f5249a7bf.png)

Thanks!

[2018-03-13 16:24] mikepenz commented on #66
So you want to only remove the badge?

There is no api for that. if you want to have no badge replace it with a normal MenuItem

[2018-07-23 14:32] hamzabinamin opened #67 "Can I add this to appear on the top right of an exising imageView?"
Can I add this to appear on the top right of an existing imageView? or use my own image with the item?

[2018-07-23 14:43] mikepenz commented on #67
No this library is not meant to do this. You might find a different library to serve this purpose. sorry.

[2018-07-23 14:43] #67 closed

[2018-07-23 14:44] hamzabinamin commented on #67
@mikepenz  Currently the android doodle appears with the counter shouldn't there be an option to use your own image?

[2018-07-23 15:06] mikepenz commented on #67
This library is only meant for the toolbar.
Look at the sample showcase how it's used.

The normal icon is there, and in addition it can have the number

[2018-08-17 16:41] SachinBahukhandi opened #68 "Menu Icon not displaying."
Here is my `menu_item.xml`
[code]

Inside `MainActivity.java`

[code]

I am calling this inside this segment:

[code]

Here is the screenshot:
![error](https://user-images.githubusercontent.com/17425177/44277865-b82ca700-a269-11e8-8160-770418d7a9f6.png)

[2018-08-17 16:55] mikepenz commented on #68
Is the broadcast receiver happening on the main thread?

[2018-08-17 16:57] SachinBahukhandi commented on #68
I have registered the reciever inside the `OnCreate`.

[2018-08-17 16:59] mikepenz commented on #68
ensure the onReceive happens on the main thread.
Also compare your code with the sample app in which it works.

Perhaps it also breaks with the new androidX or material library

[2018-08-17 17:01] SachinBahukhandi commented on #68
How to ensure that?
This is the project's design and appcompat ver:
`implementation 'com.android.support:appcompat-v7:27.1.1'
    implementation 'com.android.support:design:27.1.0'`

[2018-08-17 17:53] mikepenz commented on #68
please use google. that's one of the standard things on android :)

ok these dependencies should be fine. just compare how it works in the sample app

[2018-08-17 18:01] SachinBahukhandi commented on #68
[https://stackoverflow.com/a/20248093/5192105](https://stackoverflow.com/a/20248093/5192105) according to this it works on the main thread.

[2018-08-17 18:06] SachinBahukhandi commented on #68
I suppose your sample app does not have use of the method:
`            ActionItemBadge.update(item,1);
`

[2018-08-18 04:26] SachinBahukhandi commented on #68
Where is the sample app???

[2018-08-18 14:43] mikepenz commented on #68
https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/app/src/main/java/com/mikepenz/actionitembadge/sample/ToolbarActivity.java

it's part of this repository

[2018-08-18 14:53] SachinBahukhandi commented on #68
Yes I had seen it already. The issue is in `menu_item.xml` file.
Because the icon is not displaying even if I don't set the count in the `java` file.

[2018-08-26 18:29] mikepenz commented on #68
So it is not a problem of the library, but the main menu you defined? Make sure you supply a proper available icon

[2018-08-26 18:29] #68 closed

[2018-10-08 19:35] Jaypatelbond opened #69 "Cant populate items from firebase to show listView count to the Badge."
The badge doesnt populate when receiving the ListView item from firebase console. It works only when it come in the foreground, It doesnt update when we fire a new ListView item or the app is in Background or Killed?

[2018-10-08 21:12] mikepenz commented on #69
it is up to you to update the badge with the provided API in the toolbar.
also make sure you do this on the UI thread

[2018-10-08 21:41] Jaypatelbond commented on #69
I think it's not working with the FCM service onMessageReceived() method. It's actually not updating. Any ideas on that?

[2018-10-08 21:48] mikepenz commented on #69
I would believe it's not on the UI thread.

try moving the update of the UI to the UI thread. and see what happens

[2018-10-08 22:11] Jaypatelbond commented on #69
[code]

[2018-10-12 11:27] Jaypatelbond commented on #69
Look at the code @mikepenz
The app is updating the listview count just after i minimize the app and start again.
[I have uploaded these](https://i.stack.imgur.com/a5a7R.png)
[App icon is also updated](https://i.stack.imgur.com/o9uFK.jpg)
[code]

[2018-10-14 17:19] mikepenz commented on #69
you can try to invalidate the options menu: https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/app/src/main/java/com/mikepenz/actionitembadge/sample/ToolbarActivity.java#L108

[2018-10-27 10:33] mikepenz commented on #69
Please report back if this issue is still relevant

[2018-10-27 10:33] #69 closed

[2019-10-02 22:47] tommytcchan opened #70 "Incompatible with Iconics 4.x library"
We have upgraded to the latest Iconics and it looks like the api has changed -- we would need to change this library to ensure it doesn't break either.

![image](https://user-images.githubusercontent.com/819117/66087320-ecc1f780-e52b-11e9-92fd-40de9d6370c8.png)

[2019-10-02 22:47] tommytcchan commented on #70
That was from file ActionItemBadge.java by the way.

[2019-10-02 22:56] tommytcchan commented on #70
The workaround for now is to use a custom drawable instead of an Icon.

[2019-10-18 14:23] #70 closed

[2020-07-16 10:16] ghost commented on #47
i can't edit fun setCorner in library

[2020-11-25 11:33] nicemak opened #71 "How to hide badge only?"
Thanks for the great library.

How to hide only badge from icon if count is 0, I don't want to hide menu item, I just want to hide badge on icon.

[2020-11-25 11:56] mikepenz commented on #71
Set the value to `Integer.MIN_VALUE`

[2020-11-25 20:15] #71 closed, assigned to mikepenz

[2020-12-24 15:28] jrcacd opened #72 "How to choose the badge backcolor?"

[2020-12-30 12:01] mikepenz commented on #72
This lib is no longer actively developed. but the approach was by providing the `BadgeStyle`

https://github.com/mikepenz/Android-ActionItemBadge/blob/develop/library/src/main/java/com/mikepenz/actionitembadge/library/utils/BadgeStyle.java

[2020-12-30 12:01] #72 closed, assigned to nobody

[2020-12-30 13:14] jrcacd commented on #72
Ok, thanks. I really need to change it dynamically.

[2021-08-29 19:27] fukemy commented on #63
hi, anyway to do it without modify library? Thanks